{% extends "disease/base.html" %}
{% load static %}
{% block content %}
<section class="container px-5 mt-3">
    <div class="row gx-5">
        <div class="col-lg-7">
            <article>
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">{{ disease.name }}</h1>
                    <div class="text-muted fst-italic mb-2"> Edited on <b>{{ disease.updated_at }}</b></div>
                    {% for tag in disease.tags.all %}
                        <a class="badge bg-primary text-decoration-none link-light text-white rounded-pill" href="{% url 'home' %}?tag={{ tag.slug }}">{{ tag.name }}</a>
                    {%  endfor %}
                </header>
                <section class="mb-5">
                    <p>{{ disease.description | safe | linebreaks}}</p>
                </section>
            </article>
            <section>
                <div class="card bg-light">
                    <div class="image">
                        <img src="{{ disease.ECG_image.url }}" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
            </section>
        </div>
        <div class="col">
            <h4 class="my-3">Relevant Tweets</h4>
            <div id="twitter-posts"></div>
        </div>
    </div>
</section>
<script>
const twitterTemplate = ({text}) =>`
<div class="card mb-2" style="width: 100%;">
  <div class="card-body">
    <p class="card-text">${text}</p>
  </div>
</div>
`
const tweetContainer = document.getElementById('twitter-posts');
const q = "{{ disease.name }}"
fetch(`/api/tweets/${q}/`)
  .then(response => response.json())
  .then(data => {
      $('#twitter-posts').html(data.statuses.map(twitterTemplate).join(''))
  })
</script>
{% endblock content %}